* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-wrapper{
    overflow-x: hidden;
    right: 0;
    width: 100%;
    min-height: 100vh;
    font-size: 14px;
}

.col-main {
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.col-left {
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
}

.product-tag {
    position: absolute;
    width: 200px;
    height: auto;
    top: 0.5rem;
    right: 0.5rem;
}

.product-tag img {
    display: block;
    max-width: 100%;
    border-style: solid;
}

.time-icon {
    width: 60px;
    height: auto;
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 15px;
}

.time-tag {
    font-weight: medium;
    font-size: 1.9rem;
    padding-bottom: 10px;
}

.btn {
    display: inline-flex;
    background-color: rgb(0, 60, 255);
    color: white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 9999px;
    margin-top: 0.75rem;
    border: none;
}

.header-text {
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1.25;
    max-width: 20rem;
    margin-top: 2.5rem;
}

.followUp {
    font-size: 2em;
    margin-top: 1.5rem;
}

.nextUp {
    font-size: 1.8em;
    line-height: 2rem;
    max-width: 36rem;
    margin-top: 1.25rem;
    opacity: .5;
}

.app-link {
    display: inline-flex;
    margin-top: 2rem;
    transform: translateY(0);
    transition: all linear .1s;
}

.app-store {
    display: block;
    max-width: 100%;
}

.col-links {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    row-gap: 1rem;
    margin-top: 2.5rem;
}

.col-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.col-right {
    display: inline;
    position: relative;
}

.rightView {
    position: relative;
    max-width: 100%;
    margin-top: 2rem;
}

.rightView img {
    display: block;
    height: auto;
}

.feature {
    font-size: .857em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}

.boulder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.boulder-1 a {
    display: inline-block;
    transform: translateY(0);
    transition: all linear .1s;
    text-decoration: none;
    cursor: pointer;
}

.boulder-1 img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

.boulder-2 a {
    display: inline-block;
    transform: translateY(0);
    transition: all linear .1s;
    text-decoration: none;
    cursor: pointer;
}

.boulder-2 img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 1.5rem;
}

.tweetbird a {
    display: inline-block;
    transform: translateY(0);
    transition: all linear .1s;
    text-decoration: none;
}

.tweetbird img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-top: 2.5rem;
}

.tribute {
    font-size: .857em;
    margin-top: 1.25rem;
}

.friend a {
    display: inline-block;
    transform: translateY(0);
    transition: all linear .1s;
    text-decoration: none;
}

.friend img {
    max-width: 100%;
    height: auto;
    margin-top: 0.75rem;
}

.support-tag a {
    display: inline-flex;
    font-size: .857em;
    color: #fff;
    opacity: .6;
    margin-top: 1.25rem;
    text-decoration: none;
}



@media (min-width: 640px) {
    .col-main {
        max-width: 768px;
        margin-right: auto;
        margin-left: auto;
    }

    .col-left {
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        row-gap: 1rem;
    }

}

@media (min-width: 768px) {
    .col-right {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-end;
    }

    .rightView {
        position: absolute;
        max-width: 32rem;
        left: 0;
        margin-top: 2rem;
    }

    .rightView img {
        display: block;
        height: auto;
    }
}